<h2>Formulaire</h2>

{% if user is defined %}
<form method="post" name="formulaire" action="{{ url('users.save', {id: user.id}) }}">

    <input type="hidden" name="id" value={{user.id}} />

    <label for="name">Nom : </label>
    <input type="text" name="nom" value={{user.nom}} />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" value={{user.prenom}}  />

    {% else %}
<form method="post" name="formulaire" action="{{ url('users.save') }}">
    <label for="name">Nom : </label>
    <input type="text" name="nom" />

    <label for="name">Prénom : </label>
    <input type="text" name="prenom" />

    <label for="name">Attribuer une pomme : </label>
    <select name="select_pomme">
        <option>none</option>

        {% for apple in apples %}
            <option value={{apple.id}}> {{apple.id}} {{apple.variety}} </option>
        {% endfor %}

    </select>

    {% endif %}

    <button type="submit">Envoyer</button>

</form>
